{% extends 'templates/base.html' %}


{% block content %}
        <!--Esto es un comentario-->
    

    <div src="static 'help_btn.png'"></div>    

    
    <br><br><br><br><br><br><br>
    <div style="text-align:center">


        <div style="text-align:center">

            <style>
                .mb-3 input {
                    font-size: 100%;
                    width: 400px;
                    height: 40px;
                    background-color: rgb(201, 201, 201);
                    background-image: url(../static/Logo.png);
                }
            </style>
    
            <div class="mb-3">
        
            <label for="formFile" class="form-label">Los campos con * son obligatorios</label>
           
                <br>
                <select style="font-size: 100%; width: 400px; height: 40px" name="instancia">
                    <option style="text-align:center" disabled selected=""> CATEGORÍA </option>
   
                    <option value="Ciclo normal">CULTURA Y ARTE</option> 
                    <option value="Diciembre">HISTORIA</option> 
                    <option value="Marzo">DEPORTE</option>
                    <option value="Mesa extraordinaria">GEOGRAFÍA</option> 
                    <option value="Mesa extraordinaria">ECONOMÍA</option> 
                    <option value="Mesa extraordinaria">CIENCIA Y EDUCACIÓN</option> 
                    <option value="Mesa extraordinaria">ENTRETENIMIENTO</option> 
                </select>
                <br>
                <br>
                <label class="form-label">*</label>
                <input type="text" style="text-align:center" id="disabledTextInput" class="form-control" placeholder="PREGUNTA">
              </div>
            <br>
              <div class="mb-3">
                <label class="form-label">*</label>
                <input type="text" style="text-align:center" id="disabledTextInput" class="form-control" placeholder="RESPUESTA CORRECTA">
              </div>
              <br>
              <div class="mb-3">
                <label  class="form-label">*</label>
                <input type="text" style="text-align:center" id="disabledTextInput" class="form-control" placeholder="INCORRECTO">
              </div>
              <br>
              <div class="mb-3">
                <label class="form-label">*</label>
                <input type="text" style="text-align:center" id="disabledTextInput" class="form-control" placeholder="INCORRECTO">
              </div>
              <br>
              <div class="mb-3">
                <label class="form-label">*</label>
                <input type="text" style="text-align:center" id="disabledTextInput" class="form-control" placeholder="INCORRECTO">
              </div>
              
              <br>
              <button style="font-size: large;" type="button" class="btn btn-danger">CONFIRMAR</button>
              <br>
              <br>
              <button style="font-size: large;" type="button" class="btn btn-danger">JUGAR</button>
        </div>
    </div>
    <br><br><br><br><br><br>


{% endblock %}