{% extends 'templates/base.html' %}


{% block content %}

<head>
  <style>
    .opcion .form-control {
      font-size: 100%;
      width: 400px;
      height: 40px;
      background-color: rgb(201, 201, 201);
      background-image: url(../static/Logo.png);
    }
    .opcion .form-checkbox {
      font-size: 100%;
      width: 30px;
      height: 30px;
    }
  </style>
</head>
<body>
  <div src="static 'help_btn.png'"></div>
  <br><br><br><br><br><br>
  <div style="text-align:center">
    <form method="POST" action="" id="checkGroup">
    {% csrf_token %}
    <div class="opcion">
      <label id="campos_obligatorios" class="form-label">Los campos con * son obligatorios</label>
      <br>
      <select style="font-size: 100%; width: 400px; height: 40px" name="categoria" id="categoria" required>
        <option value=""> CATEGORÍA </option>
        <option value="1">CULTURA Y ARTE</option>
        <option value="2">HISTORIA</option>
        <option value="3">DEPORTE</option>
        <option value="4">GEOGRAFÍA</option>
        <option value="5">ECONOMÍA</option>
        <option value="6">CIENCIA Y EDUCACIÓN</option>
        <option value="7">ENTRETENIMIENTO</option>
      </select>
      <br>
      <br>
    </div>
    <div class="opcion">
        <label class="form-label">*</label>
        <input type="text" style="text-align:center" name="pregunta" id="disabledTextInput" class="form-control" placeholder="PREGUNTA" required>
    </div>
    <br>
    <div class="opcion">
      <label class="form-label">*</label>
      <input type="text" style="text-align:center" name="respuesta1" id="disabledTextInput" class="form-control" placeholder="Respuesta 1" required>
      <label class="correcta">Es correcta: </label>
      <input type="checkbox" name="es_correcta_1" class="form-checkbox">
    </div>
    <br>
    <div class="opcion">
      <label  class="form-label">*</label>
      <input type="text" style="text-align:center" name="respuesta2" id="disabledTextInput" class="form-control" placeholder="Respuesta 2" required>
      <label class="correcta">Es correcta: </label>
      <input type="checkbox" name="es_correcta_2" class="form-checkbox">
    </div>
    <br>
    <div class="opcion">
      <label class="form-label">*</label>
      <input type="text" style="text-align:center" name="respuesta3" id="disabledTextInput" class="form-control" placeholder="Respuesta 3" required>
      <label class="correcta">Es correcta: </label>
      <input type="checkbox" name="es_correcta_3" class="form-checkbox">
    </div>
    <br>
    <div class="opcion">
      <label class="form-label">*</label>
      <input type="text" style="text-align:center" name="respuesta4" id="disabledTextInput" class="form-control" placeholder="Respuesta 4" required>
      <label class="correcta">Es correcta: </label>
      <input type="checkbox" name="es_correcta_4" class="form-checkbox">
    </div>
    <br>
    <div class="opcion">
      <label class="form-label">*</label>
      <input type="text" style="text-align:center" name="respuesta5" id="disabledTextInput" class="form-control" placeholder="Respuesta 5" required>
      <label class="correcta">Es correcta: </label>
      <input type="checkbox" name="es_correcta_5" class="form-checkbox">
    </div>
    <br>
    <input style="font-size: large;" type="submit" name="btn_confirmar" class="btn btn-danger" value="CONFIRMAR">
    <br>
    <br>
  </form>
  <form action="{% url 'mapa' %}">
    <input style="font-size: large;" type="submit" class="btn btn-danger" value="JUGAR">
  </form>
  </div>
<br><br><br><br><br><br>
<script>
/*Script que devuelve un mensaje si falta marcar aunque sea una respuesta como correcta:*/
$('#checkGroup').submit(function(e){
    e.preventDefault();
    var ck_box = $('input[type="checkbox"]:checked').length;
    
    if(ck_box === 0){
      alert("Debes marcar al menos una respuesta como correcta.");
    } else {
      document.getElementById('checkGroup').submit();
    }
});
</script>
</body>

{% endblock %}