<!DOCTYPE html>
<html>
    <head>
        
        <meta charset="UTF-8">
        <title>Matanga Game Quiz</title>
        {% load static %}
        <link href="{% static 'css/estilos.css' %}" rel="stylesheet" type="text/css">
        <link rel="icon" href="{% static 'favicon.ico' %}">      
        
        <div style="text-align:center">
            <audio controls loop id="miaudio">
                <source src="{% static 'Fondo.mp3' %}" volume=30 type="audio/mp3">
                Tu navegador no es compatible para reproducir audio.
            </audio>

            <script>
                var audio = document.getElementById("miaudio");
                audio.volume = 0.2;
            </script>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> <!--JQuery-->

    </head>
    <body>
        
        {% block content %}
        {% endblock %}

        <br><br>
        <div class="help_btn">
            <button onclick="hide_info_box()"><img src="{% static 'help_btn.png' %}" width="50" height="50"></button>
        </div>
        <div class="options_btn">
            <button><img src="{% static 'options_btn.png' %}" width="50" height="50"></button>
        </div>

        <div class="info_box">
            <div class="info_title"><span>¡Buenas, {nombre del usuario}!</span></div> <!--Aquí hay que hacer que muestre el nombre del usuario-->
            <div class="info_list">
                <div class="info"><span>Te daré una breve introducción:</span></div>
                <div class="info">En el mapa del Chaco, tendrás que seleccionar un departamento y responder todas las preguntas de ese departamento.</div>
                <div class="info">Si respondes todas correctamente conquistarás ese departamento.</div>
                <div class="info">Se te restará un punto por cada pregunta que respondas incorrectamente ¡Pero no te preocupes!</div>
                <div class="info">Se te sumará un punto por cada pregunta que respondas correctamente.</div>
                <div class="info">¡Conquista todos los departamentos para ganar el juego!</div>
            </div>
            <div class="ok_rules_btn"><button onclick="hide_info_box()">OK</button></div>
        </div>

        <!--Help button-->
        <script>
            const info_box = document.querySelector(".info_box")

            function hide_info_box(){
                if (info_box.style.display == "none") {
                    info_box.style.display = "inline"
                }
                else {
                    info_box.style.display = "none"
                }
            }
        </script>
    </body>
    <footer>

    </footer>
</html>