{% extends 'templates/base.html' %}

{% block content %}
<head>
    <style>
        .cuadro_resultado {
            margin-top: 170px;
            margin-bottom: 40px;
        }
        .cuadro_resultado span {
            line-height: 100px;
        }
        .compartir_resultado {
            margin-bottom: 20px;
        }
        .btn_derrota {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="cuadro_resultado" style="text-align:center;">
        <div class="victoria">
            <span class="form-label">PERDISTE :(</span>
        </div>
        <div>
            <label style="font-size: larger;">PUNTAJE: {{puntaje}}</label>
        </div>
    </div>
    {% load social_share %}
    <div class="compartir_resultado" style="text-align:center;">
        {% post_to_twitter "¡Conseguí {{puntaje}} puntos en Matanga!" '' "¡Postear en Twitter!" %}
        {% post_to_reddit "¡Conseguí {{puntaje}}puntos en Matanga!" '' "¡Postear en Reddit!" %}
    </div>
    <div style="text-align: center;">
        <div class="btn_derrota">
            <form action="{% url 'inicio' %}">
                <input style="font-size: large" type="submit" class="btn btn-danger" value="Reintentar">
            </form>
        </div>
        <div>
            <form action="{% url 'inicio' %}">
                <input style="font-size: large;" type="submit" class="btn btn-danger" value="Menú principal">
            </form>
        </div>
    </div>
</body>

{% endblock %}