% extends 'templates/base.html' %}


{% block content %}
        <!--Esto es un comentario-->
    
    <div src="static 'help_btn.png'"></div>

    <br><br><br><br><br><br><br>
    <div style="text-align:center">
        <div class= "victoria">
            <br>
            <label for="formFile" class="form-label">¡PERDISTE!</label>
        </div>
        <label style="font-size: larger;" for="">PUNTAJE: </label>
    </div>
    <br><br>
    <div style="text-align: center;">
        <form action="{% url 'inicio' %}">
            <input style="font-size: large" type="submit" class="btn btn-danger" value="REINTENTAR">
        </form>
        <br><br>
        <form action="{% url 'inicio' %}">
            <input style="font-size: large;" type="submit" class="btn btn-danger" value="MENÚ PRINCIPAL">
        </form>
    </div>
    <br><br><br><br>


{% endblock %}