{% extends 'templates/base.html' %}


{% block content %}
    <!--Esto es un comentario-->

    <div src="static 'help_btn.png'"></div>

    <br><br><br><br><br><br><br>
    <div class= "juego">
      <header>
        <label for="formFile" class="form-label">CATEGORÍA</label>
        <div class="reloj">
          <div class="reloj-texto">Tiempo restante</div>
          <div class="reloj-tiempo">30</div>
        </div>
      </header>
      <section>
        <br>
        <div class="pregunta">
          <label for="formFile" class="form-label">Pregunta</label>
        </div>
        <br>
        <div class="opciones">
          <div class="opcion">
              <label class="form-label">A) </label>
              <button type="button" class="btn btn-light"> RESPUESTA 1 </button>
          </div>
          <br>
          <div class="opcion">
            <label class="form-label">B) </label>
            <button type="button" class="btn btn-light"> RESPUESTA 2 </button>
          </div>
          <br>
          <div class="opcion">
            <label class="form-label">C) </label>
            <button type="button" class="btn btn-light"> RESPUESTA 3 </button>
          </div>
          <br>
        </div>
      </section>
        <br><br>
    </div>
    <br><br><br><br><br><br>
    
    <script>
    </script>


{% endblock %}