{% extends 'templates/base.html' %}


{% block content %}
        <!--Esto es un comentario-->
    

    <div src="static 'help_btn.png'"></div>    
    <div src="static 'Logo.png'" class="start_btn"><button>Comenzar</button></div>
    
    <br><br><br><br><br><br><br>
    <div style="text-align:center">
        <img style="text-align:center" src="../static/Logo.png" width="524" height="348" />
        <h1 style="text-align:center" class= 'text-center' >MAPA</h1> 

        
    </div>
    <br><br><br><br><br><br>
    
<!--Acá abajo se listan los departamentos para poder acceder a ellos y responder sus preguntas-->
<div class="h1"><h1>Departamentos</h1></div>
{% for obj in obj %}
<p><a href="mapa/{{obj.pk}}">Departamento: {{obj.nombre}}, Cantidad de preguntas: {{obj.cantidad_de_preguntas}}, Dificultad: {{obj.dificultad}}</a></p>
{% endfor %}
{% endblock %}
