{% extends 'templates/base.html' %}


{% block content %}

<div src="static 'help_btn.png'"></div>    
  <br><br><br><br><br><br><br>
  <div style="text-align:center">
    <style>
        .recuadro {
            font-size: 200%;
            width: 500px;
            height: 40px;
            padding: 20px;
            margin: 20px;
            background-color: rgb(201, 201, 201);
            position: relative;
            left: 550px;
        }
    </style>
    <h1>PODIO</h1>
    <br>
    <div class="recuadro">
      <label class="form-label">1...........................</label>
      <label style="float: right;" for="">Usuario</label>
    </div>

    <div class="recuadro">
      <label class="form-label">2...........................</label>
      <label style="float: right;" for="">Usuario</label>
    </div>

    <div class="recuadro">
      <label class="form-label">3...........................</label>
      <label style="float: right;" for="">Usuario</label>
    </div>

    <div class="recuadro">
      <label class="form-label">4...........................</label>
      <label style="float: right;" for="">Usuario</label>
    </div>

    <div class="recuadro">
      <label class="form-label">5...........................</label>
      <label style="float: right;" for="">Usuario</label>
    </div>      
    <br>
    <form action="{% url 'inicio' %}">
      <input style="font-size: large;" type="submit" class="btn btn-danger" value="MENÚ PRINCIPAL">
    </form>
</div>
<br><br><br><br><br><br>


{% endblock %}