{% extends 'templates/base.html' %}


{% block content %}
        <!--Esto es un comentario-->
    
    <audio src="../static/audio.mp3"></audio>
    <div src="static 'help_btn.png'"></div>    
    <div src="static 'Logo.png'" class="start_btn"><button>Comenzar</button></div>
    
    <br><br><br><br><br><br><br>
    <div style="text-align:center">
        <img style="text-align:center" src="../static/Logo.png" width="524" height="348" />
        <h1 style="text-align:center" class= 'text-center' >RECUPERAR</h1> 

        
    </div>
    <br><br><br><br><br><br>


{% endblock %}