{% extends 'templates/base.html' %}


{% block content %}
        <!--Esto es un comentario-->
    
    <audio src="../static/audio.mp3"></audio>
    <div src="static 'help_btn.png'"></div>    

    
    <br><br><br><br><br><br><br>
    <div style="text-align:center">
        <img style="text-align:center" src="../static/Logo.png" width="524" height="348" />
<br> <br>
        <div style="text-align:center">

            <style>
                .mb-3 input {
                    font-size: 100%;
                    width: 300px;
                    height: 40px;
                    background-color: rgb(201, 201, 201);
                    background-image: url(../static/Logo.png);
                }
            </style>
            <form>
              
                  
                  <div  class="mb-3">  
                    <input type="text" style="text-align:center" id="disabledTextInput" class="form-control" placeholder="INGRESÁ TU EMAIL">
                  </div>
                  <br>
                  <label>o</label>
                  <br>
                  <div class="mb-3">
                    <br>
                    <input type="text" style="text-align:center" id="disabledTextInput" class="form-control" placeholder="INGRESÁ TU CELULAR">
                  </div>
                  <br>
                  <button type="button" style="font-size: large"  class="btn btn-danger">Recuperar</button>
                  <br><br>

        
                
              </form>
              
            </div>
              
            </div>


        
    </div>
    <br><br><br><br><br><br>


{% endblock %}