{% extends 'templates/base.html' %}


{% block content %}
        <!--Esto es un comentario-->
    

    <div src="static 'help_btn.png'"></div>    

    
    <br><br><br><br><br><br><br>
    <div style="text-align:center">

        <style>
            .mb-3 input {
                font-size: 100%;
                width: 400px;
                height: 40px;
                background-color: rgb(201, 201, 201);
                background-image: url(../static/Logo.png);
            }
        </style>


    
        <label for="formFile" class="form-label">Los campos con * son obligatorios</label>
        <div class="mb-3">
            <label class="form-label">*</label>
            <input type="text" style="text-align:center" id="disabledTextInput" class="form-control" placeholder="USUARIO">
          </div>
        <br>
          <div class="mb-3">
            <label class="form-label">*</label>
            <input type="text" style="text-align:center" id="disabledTextInput" class="form-control" placeholder="EMAIL">
          </div>
          <br>
          <div class="mb-3">
            <label style="color: #8b8f94;" class="form-label">..</label>
            <input type="text" style="text-align:center" id="disabledTextInput" class="form-control" placeholder="CEL">
          </div>
          <br>
          <div class="mb-3">
            <label class="form-label">*</label>
            <input type="text" style="text-align:center" id="disabledTextInput" class="form-control" placeholder="CLAVE">
          </div>
          <br>
          <div class="mb-3">
            <label class="form-label">*</label>
            <input type="text" style="text-align:center" id="disabledTextInput" class="form-control" placeholder="REPETIR CLAVE">
          </div>
          
          <br>
          <button style="font-size: large;" type="button" class="btn btn-danger">CONFIRMAR</button>
    </div>
    <br><br><br><br><br><br>


{% endblock %}