{% extends 'templates/base.html' %}


{% block content %}
<div src="static 'help_btn.png'"></div>    


<br><br><br><br><br><br><br>
<div style="text-align:center">

    <div class= "victoria">
        <br>
        <label for="formFile" class="form-label">¡GANASTE!</label>
    </div>
        <label style="font-size: larger;" for="">PUNTAJE: </label>
    </div>
</div>
<br><br>
<div style="text-align: center;">
    <form action="{% url 'ranking' %}">
        <input style="font-size: large" type="submit" class="btn-danger" value="RANKING">
    </form>
</div>
<br><br><br><br>


{% endblock %}