{% extends 'templates/base.html' %}

{% block content %}
<body>
    <br><br><br><br><br><br><br>
    <div style="text-align:center">
        <div class="victoria">
            <br>
            <label for="formFile" class="form-label">¡GANASTE!</label>
        </div>
            <label style="font-size: larger;" for="">PUNTAJE: </label>
        </div>
    </div>
    <br><br>
    {% load social_share %}
    <div class="compartir_resultado" style="text-align:center;">
        {% post_to_twitter "¡Conseguí [puntaje] puntos en Matanga!" '' "¡Postear en Twitter!" %}
        {% post_to_reddit "¡Conseguí [puntaje] puntos en Matanga!" '' "¡Postear en Reddit!" %}
    </div>
    <br>
    <div style="text-align: center;">
        <form action="{% url 'ranking' %}">
            <input style="font-size: large" type="submit" class="btn-danger" value="RANKING">
        </form>
    </div>
    <br><br><br><br>
</body>


{% endblock %}